/* All Mobile Sizes (devices and browser) */
@media only screen and (max-width: 767px) {
	nav {	
		width:150px;
		margin-left: -200px;
		left: 50%;
	}

	nav ul {
		width:100px;
		padding:0;
	}	

	nav li {
		width:100px;
	}

	nav li:hover{
		background-color: #505;
	}

	nav a {
		text-decoration:none;
		color:#000;
		width:200px;
	}
}